.btn {
  color: var(--light-color);
  padding: 1.5vw 4vh;
  width: 23vw;
  height: 6vw;
  border-radius: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 1.5;
  transition: all 0.4s;
  svg {
    fill: var(--light-color);
    flex-shrink: 0;
    width: 2vw;
    height: 2vw;
  }
}

.btn--primary {
  background-color: var(--green-color);
  &:hover {
    background-color: #21e27c;
  }
}

.btn--secondary {
  background-color: var(--orange-color);
  &:hover {
    background-color: #fd9c49;
  }
}
