<div class="hero">
  <div class="container hero__container">
    <div class="hero__inner">
      <div class="hero__benefits benefits">
        <div class="benefits__items">
          <div class="benefits__item">
            <p class="benefits__item-text">
              <span>Гарантия от 50 лет</span> на материалы и 5 лет на монтаж
            </p>
          </div>
          <div class="benefits__item">
            <p class="benefits__item-text">
              <span>Замер, монтажный проект</span> и еще 4 услуги бесплатно
            </p>
          </div>
          <div class="benefits__item">
            <p class="benefits__item-text">
              <span>Сметы точны</span> до копейки
            </p>
          </div>
          <div class="benefits__item">
            <p class="benefits__item-text">
              <span>Поэтапная оплата,</span> кредит или рассрочка
            </p>
          </div>
          <div class="benefits__item">
            <p class="benefits__item-text">
              <span>Наши крыши в каждом поселке </span>
              и дачном сообществе региона
            </p>
          </div>
        </div>
        <button class="benefits__btn btn-reset">
          <svg>
            <use xlink:href="img/sprite.svg#plus"></use>
          </svg>
        </button>
      </div>
      <div class="hero__main">
        <div class="hero__descr">
          <h1 class="hero__title">
            Продажа <span> кровельных материалов </span> в Тюмени и Тюменской
            области
          </h1>
          <div class="hero__subtitle">
            <span class="hero__subtitle-figure"></span>
            <span class="hero__subtitle-figure"></span>
            <span class="hero__subtitle-figure"></span>
            <span class="hero__subtitle-figure"></span>
            <h4>и монтаж под ключ</h4>
          </div>
        </div>
        <div class="hero__btns">
          <button class="btn btn-reset hero__btn btn--primary">
            Рассчитать стоимость материалов и монтажа
            <svg>
              <use xlink:href="img/sprite.svg#top-right"></use>
            </svg>
          </button>
          <button class="btn btn-reset hero__btn btn--secondary">
            записаться на просмотр объектов
            <svg>
              <use xlink:href="img/sprite.svg#top-right"></use>
            </svg>
          </button>
        </div>
        <div class="hero__text">
          <div class="hero__text-icon">
            <svg>
              <use xlink:href="img/sprite.svg#point-out"></use>
            </svg>
          </div>
          <p>
            <span>Ответьте на несколько вопросов и получите</span> сметную
            стоимость и 3 подарка за экономию нашего времени
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
