<div class="graph-modal">
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg>
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content">
      <div class="modal__form">
        <h3 class="form__title">Быстро оставить заявку</h3>
        <h5 class="form__subtitle">
          Введите номер, мы позвоним вам в течение 10 минут в рабочее время
        </h5>
        <div class="modal__working">
          <span>Пн-Пт</span>
          <span>09.00 - 18.00</span>
          <span>Сб</span>
          <span>10.00 - 18.00</span>
        </div>
        <form action="#" class="form">
          <label class="form__label">Введите номер телефона</label>
          <input
            type="tel"
            name="Телефон"
            class="input-reset form__input form__input-tel"
            placeholder="+7 ( _ _ _) _ _ - _ _ - _ _"
          />
          <button class="form__btn btn btn-reset hero__btn btn--secondary">
            Позвоните мне
            <svg>
              <use xlink:href="img/sprite.svg#top-right"></use>
            </svg>
          </button>
          <label class="custom-checkbox">
            <input type="checkbox" class="custom-checkbox__field" />
            <h5 class="custom-checkbox__content">
              Нажимая кнопку вы соглашаетесь с условиями
              <a href="#">Политики конфиденциальности </a>
            </h5>
          </label>
        </form>
      </div>
    </div>
  </div>

  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal-success"
  >
    <button
      class="btn-reset graph-modal__close"
      aria-label="Закрыть модальное окно"
    >
      <svg>
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="graph-modal__content">
      <h3 class="modal__success-title">Спасибо! Скоро мы с вами свяжемся!</h3>
    </div>
  </div>
</div>
