// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat";
  --content-width: 85vw;
  --container-offset: 1vw;

  // colors
  --light-color: #fff;
  --black-color: #1c1c1c;
  --orange-color: #f38120;
  --green-color: #12c868;
  --bg-color: #edf2f5;
  --grey-color: #a0a0a0;
}
